<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!-- change this to your value-->
    <add key="ConnectionString" value="Data Source=LANCE-THINK\LANCE;Initial Catalog=UsXuezi;Integrated Security=True"/>
    <!--
    <add key="ConnectionString" value="Server=192.163.253.197;Database=UsXuezi;User Id=sa;Password=PoS%sesxme55HtV;"/>-->
    <!--404页面 通过System.Configuration.ConfigurationManager.AppSettings["404"]调用 -->
    <add key="404" value="/MissingPage.aspx"/>
    <add key="Error" value="/ErrorPage.aspx"/>
    <!-- Show Pages-->
    <add key="QA" value="/QuestionAnswer.aspx"/>
    <add key="Business" value="/BusinessPage.aspx"/>
    <add key="City" value="/City.aspx"/>
    <add key="Estate" value="/Estate.aspx"/>
    <add key="Item" value="/Item.aspx"/>
    <add key="Rent" value="/Rent.aspx"/>
    <add key="Job" value="/Job.aspx"/>
    <add key="Chat" value="/NewsFeed.aspx"/>
    <add key="UsedCar" value="/UsedCar.aspx"/>
    <!-- Publish Pages-->
    <add key="BusinessPublish" value="/PublishPage/BusinessPublish.aspx"/>
    <add key="ChatPublish" value="/PublishPage/NewsFeedPublish.aspx"/>
    <add key="EstatePublish" value="/PublishPage/EstatePublish.aspx"/>
    <add key="FoodPublish" value="/PublishPage/FoodPublish.aspx"/>
    <add key="ItemPublish" value="/PublishPage/ItemPublish.aspx"/>
    <add key="JobPublish" value="/PublishPage/JobPublish.aspx"/>
    <add key="QAPublish" value="/PublishPage/QAPublish.aspx"/>
    <add key="RentPublish" value="/PublishPage/RentPublish.aspx"/>
    <add key="UsedCarPublish" value="/PublishPage/UsedCarPublish.aspx"/>
    <!-- Other Pages-->
    <add key="Login" value="/Login.aspx"/>
    <add key="LogOut" value="/LogOut.aspx"/>
    <add key="Register" value="/Register.aspx"/>
    <add key="Person" value="/Person.aspx"/>
    <add key="EditPerson" value="/EditPerson.aspx"/>
    <add key="DefaultPage" value="/Default.aspx"/>
    <!-- Cookie Path-->
    <add key="cookie" value="/default.aspx"/>
  </appSettings>
  <connectionStrings>
    <!-- change this to your value-->
    <add name="BosTon_BBSConnectionString1" connectionString="Data Source=LANCE-THINK\LANCE;Initial Catalog=UsXuezi;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--
    <add name="BosTon_BBSConnectionString1" connectionString="Server=192.163.253.197;Database=UsXuezi;User Id=sa;Password=PoS%sesxme55HtV;" providerName="System.Data.SqlClient"/>
-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false">
      <controls>
        <!-- 注册用户控件 -->
        <add src="~/UserControls/CityIcon.ascx" tagName="CityIcon" tagPrefix="BBS"/>
        <add src="~/UserControls/HotIssueBlock.ascx" tagName="HotIssueBlock" tagPrefix="BBS"/>
        <add src="~/UserControls/PostBlock.ascx" tagName="PostBlock" tagPrefix="BBS"/>
        <add src="~/UserControls/StudentCard.ascx" tagName="StudentCard" tagPrefix="BBS"/>
        <add src="~/UserControls/AgentCard.ascx" tagName="AgentCard" tagPrefix="BBS"/>
        <add src="~/UserControls/DealerCard.ascx" tagName="DealerCard" tagPrefix="BBS"/>
        <add src="~/UserControls/BusinessCard.ascx" tagName="BusinessCard" tagPrefix="BBS"/>
        <add src="~/UserControls/SocialIcons.ascx" tagName="SocialIcons" tagPrefix="BBS"/>
        <add src="~/UserControls/Editor.ascx" tagName="Editor" tagPrefix="BBS"/>
        <add src="~/UserControls/ReplyBlock.ascx" tagName="ReplyBlock" tagPrefix="BBS"/>
        <add src="~/UserControls/MapBlock.ascx" tagName="MapBlock" tagPrefix="BBS"/>
        <add src="~/UserControls/UpLoadify.ascx" tagName="UpLoadify" tagPrefix="BBS"/>
        <add src="~/UserControls/UpPic.ascx" tagName="UpPic" tagPrefix="BBS"/>
        <add src="~/UserControls/UpPic2.ascx" tagName="UpPic2" tagPrefix="BBS"/>
        <add src="~/UserControls/PicView.ascx" tagName="PicView" tagPrefix="BBS"/>
        <add src="~/UserControls/SignatureBlock.ascx" tagName="Signature" tagPrefix="BBS"/>
        <add src="~/UserControls/CKPic.ascx" tagName="CKPic" tagPrefix="BBS"/>
        <add src="~/UserControls/MultiPics/Multi.ascx" tagName="MultiPics" tagPrefix="BBS"/>
        <add src="~/UserControls/Tags.ascx" tagName="Tags" tagPrefix="BBS"/>
        <add src="~/UserControls/Filters/RentFilter.ascx" tagName="RentFilter" tagPrefix="BBS"/>
        <add src="~/UserControls/Filters/BusinessFilter.ascx" tagName="BusinessFilter" tagPrefix="BBS"/>
        <add src="~/UserControls/Filters/ItemFilter.ascx" tagName="ItemFilter" tagPrefix="BBS"/>
        <add src="~/UserControls/Filters/EstateFilter.ascx" tagName="EstateFilter" tagPrefix="BBS"/>
        <add src="~/UserControls/Filters/UsedCarFilter.ascx" tagName="UsedCarFilter" tagPrefix="BBS"/>
        <add src="~/UserControls/Filters/JobFilter.ascx" tagName="JobFilter" tagPrefix="BBS"/>
        <add src="~/UserControls/Filters/FoodFilter.ascx" tagName="FoodFilter" tagPrefix="BBS"/>
      </controls>
    </pages>

  </system.web>

</configuration>
