/* common */
input[type="checkbox"] {margin-right: 5px;vertical-align: middle;}
.box01 {
    border: 2px solid #ef4224;
    background: white;
    text-align: left;
}
.box01 .box01-hd {
    background-color: #ef4224;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
    font-size: 18px;
    margin-bottom: 15px;
    height: 32px;
    line-height: 30px;
}
.box01 .box01-bd {
    padding:0 35px 30px;
}

.box02 .box02-hd {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(30,30,30);
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #666;
    position: relative;
    text-align: left;
    background-color: #fff;
}
.box02 .box02-bd {
    padding: 30px 20px;
    border: 1px solid rgb(179,178,178);
    border-top: 0 none;
    zoom: 1;
}
.box02 .box02-bd:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.item-row {margin-bottom: 15px;clear: both;}
.item-row .label {float: left;width: 100px;}
.item-row .cont {margin-left: 100px;}

.text-note {font-size: 12px;color: #ccc;font-weight: normal;}

.c-float {clear: both;}

.table {width: 100%;background-color: transparent;border-collapse: collapse;border-spacing: 0;}
.table-1 th, .table-1 td {padding: 0;}
.table-1 th {text-align: right;font-weight: normal;padding-right: 20px;}
.table-1 td {padding: 8px 0;}
.table-1 .input[type="text"]  {border:1px solid #ccc;padding: 8px 6px;font-size: 12px;}

.input-s {width: 90px;}
.input-m {width: 220px;}
.input-l {width: 330px;}

.ml10 {margin-left: 10px;}

/*form styles*/
.msform {
    text-align: center;
    position: relative;
}


.msform .tab-panel {
    width: 100%;
    display: none;
    border:0 none;
}
.msform .active {display: block;}

.progressbar {
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    margin-bottom: 5px;
}

.progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    width: 33.3334%;
    float: left;
    position: relative;
}
.progressbar a {
    color: #000;
    display: block;
    line-height: 30px;
    font-size: 16px;
    background-color: #f2f2f2;
    text-indent: 10px;
    text-align: left;
    cursor: default;
}

.progressbar .active a {
    color: white;
    background-color: #ef4224;
}

#Biz_TextArea {
    float:left;
    margin-left:10px;
    height: 195px;
    width: 250px;
    padding: 5px;
    font-size: 16px;
}

.img_preview {
    float: left;
    margin: 20px 5px 50px 0px;
    width: 80px;
    height: 80px;
}

    .img_preview:hover {
        transform: scale(2);
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        border: 2px solid #ef4224;
        position: relative;
        z-index: 999;
    }

.cover {
    position: relative;
    width: 80px;
    height: 80px;
    padding: 0px;
    border: #ef4224 solid 2px;
}

    .cover:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 9px 9px 0;
        border-color: #fff transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -9px;
        left: 31px;
    }

    .cover:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 10px 10px 0;
        border-color: #ef4224 transparent;
        display: block;
        width: 0;
        z-index: 0;
        bottom: -12px;
        left: 30px;
    }

.map_publish {
    height: 200px;
    width: 360px;
    margin-left: 58px;
}

.left_63pc {
    margin-left: 63%;
}


.editor {
    width: 640px;
    min-height: 360px;
    margin-left: 100px;
}

.last_step textarea {
}

/* QAPublish */
.box-tag {clear: both;}
.box-tag .labels {width: 690px;overflow: hidden;}
.box-tag .labels a {float: left;margin-right: 35px;line-height: 30px;width: 100px;margin-bottom: 10px;text-align: center;}
.label-blue {background-color: #538dd5;color: #fff;}
.label-yellow {background-color: #ffc000;color: #000;}

.delete-tag {vertical-align: top;margin-top:-10px;height: 14px;width: 14px;}

.btns-box {text-align: center;}
.btns-box .btn {margin-top: 0;}

/* foodPublish */
.foodPublish-detial .main .l-m {float: left;}
.foodPublish-detial .main .r-m {margin-left: 656px;text-align: center;}
.foodPublish-detial .main .r-m textarea {width:300px;margin:10px auto;}

/*登陆表单*/
.loginbox {width: 840px;margin: 0 auto;}
.loginform {
    padding: 10px 0; 
    overflow: visible;
    width: 555px;
    float: left;
}
.loginform .form-group, .regform .form-group {
    position: relative;
    height: 50px;
    zoom: 1;
    overflow: hidden;
}
.loginform .check {height: 30px;}
.loginform .form-group label, .regform .form-group label {
    float: left;
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    color: rgb(30,30,30);
    font-size: 14px;
}
.loginform .form-group input, .regform .form-group input {float: left;}
.loginform .inp {padding: 5px 4px;width: 200px;}
.loginform .form-group .remember-pas {font-size: 12px;color: #000;}
.loginform .cbox, .loginform .submit,.regform .cbox, .regform .submit {margin-left: 100px;margin-bottom: 10px;text-align: left;}
.loginform .submit .btn-login {width: 200px;}
.loginform .cbox label, .loginform .cbox a {font-size: 12px;}
.loginform .cbox a {font-weight: bold;}
.loginform .btn-login {height: 36px;line-height: 34px;width: 208px;background-color: #ef4224;border: 1px solid #ccc;color: #fff;cursor: pointer;}
.loginform .verifyCode img {vertical-align: middle;margin-left: 5px;}

.login-help {float:right;margin: 10px 80px 10px 0;padding: 10px;padding-left: 20px;border-left: 1px dashed rgb(102,102,102);}
.login-help .info {margin: 10px 0}
.login-help .btn-register {height: 36px;line-height: 34px;width: 80px;background-color: #ef4224;border: 1px solid #ccc;color: #fff;cursor: pointer;display: block;}
.login-help .text2 a {text-decoration: none;color: rgb(102,102,102);font-size: 14px}

/*注册表单*/
.reg-main {
    padding-bottom: 70px;
    width: 600px;
    margin: 30px auto;
}
.regform .form-group select {margin-top: 7px;}
.regform .notic {margin-left: 3px;float: left;}
.regform .tip {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 4px;
}
.regform .inputError {border-color: rgb(185,74,72);}
.regform .tError {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.regform .tInfo {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.regform .tSuccess {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
#email_notice {display: inline-block;}