/* common */
input[type="checkbox"] {margin-right: 5px;vertical-align: middle;}
.box01 {
    border: 2px solid #ef4224;
    background: white;
    text-align: left;
}
.box01 .box01-hd {
    background-color: #ef4224;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
    font-size: 18px;
    margin-bottom: 15px;
    height: 32px;
    line-height: 30px;
}
.box01 .box01-bd {
    padding:0 35px 30px;
}

.item-row {margin-bottom: 15px;clear: both;}
.item-row .label {float: left;width: 100px;}
.item-row .cont {margin-left: 100px;}

.text-note {font-size: 12px;color: #ccc;font-weight: normal;}

.c-float {clear: both;}

.table {width: 100%;background-color: transparent;border-collapse: collapse;border-spacing: 0;}
.table-1 th, .table-1 td {padding: 0;}
.table-1 th {text-align: right;font-weight: normal;padding-right: 20px;}
.table-1 td {padding: 8px 0;}
.table-1 .input[type="text"]  {border:1px solid #ccc;padding: 8px 6px;font-size: 12px;}

.input-s {width: 90px;}
.input-m {width: 220px;}
.input-l {width: 330px;}


/*form styles*/
.msform {
    text-align: center;
    position: relative;
}


.msform .tab-panel {
    width: 100%;
    display: none;
    border:0 none;
}
.msform .active {display: block;}

.progressbar {
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    margin-bottom: 5px;
}

.progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    width: 33.3334%;
    float: left;
    position: relative;
}
.progressbar a {
    color: #000;
    display: block;
    line-height: 30px;
    font-size: 16px;
    background-color: #f2f2f2;
    text-indent: 10px;
    text-align: left;
}

.progressbar .active a {
    color: white;
    background-color: #ef4224;
}

.progressbar li:hover a {
    background-color: #ef4224;
    color: white;
}

#Biz_TextArea {
    float:left;
    margin-left:10px;
    height: 195px;
    width: 250px;
    padding: 5px;
    font-size: 16px;
}

.img_preview {
    float: left;
    margin: 20px 5px 50px 0px;
    width: 80px;
    height: 80px;
}

    .img_preview:hover {
        transform: scale(2);
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        border: 2px solid #ef4224;
        position: relative;
        z-index: 999;
    }

.cover {
    position: relative;
    width: 80px;
    height: 80px;
    padding: 0px;
    border: #ef4224 solid 2px;
}

    .cover:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 9px 9px 0;
        border-color: #fff transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -9px;
        left: 31px;
    }

    .cover:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 10px 10px 0;
        border-color: #ef4224 transparent;
        display: block;
        width: 0;
        z-index: 0;
        bottom: -12px;
        left: 30px;
    }

.map_publish {
    height: 200px;
    width: 360px;
    margin-left: 58px;
}

.left_63pc {
    margin-left: 63%;
}


.editor {
    float: left;
    width: 640px;
    min-height: 360px;
}

.last_step textarea {
}

/* QAPublish */
.box-tag {clear: both;}
.box-tag .labels {width: 690px;overflow: hidden;}
.box-tag .labels a {float: left;margin-right: 35px;line-height: 30px;width: 100px;margin-bottom: 10px;text-align: center;}
.label-blue {background-color: #538dd5;color: #fff;}
.label-yellow {background-color: #ffc000;color: #000;}

.delete-tag {vertical-align: top;margin-top:-10px;height: 14px;width: 14px;}

.btns-box {text-align: center;}
.btns-box .btn {margin-top: 0;}

/* UsedCarPublish */